@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #34568B;
  padding: 0 20px;
  font-style: lato;
}

::selection{
  color: #fff;
  background: #664AFF;
}

.wrapper{
  max-width: 450px;
  margin:;
}

.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}
.search-input .google{
  position: absolute;
  right: 75px;
  top: 0px;
  height: 40px;
  width: 40px;
  text-align: right;
  line-height: 40px;
  font-size: 20px;
  color: #644bff;
}

.leaf{
  color: #90EE90;
}
.wll{
  color: #ff2a6a;
}
.right{
  position: absolute;
  right: 0px;
  top: 0px;
  height: auto;
  width: auto;
  text-align: right;
  line-height: 40px;
  font-size: 20px;
  border-color: black;
}
.sett{
  background: #34568B;
  cursor: pointer;
  top: 0px;
  right: 0px;
}
.sett:hover{
  background: #46689e; 
}
.more{
  margin: auto;
  padding: auto;
  left: 0px;
  height: 21px;
  width: 21px;
}
.more:hover{
  background-color: #46689e;
}
.left{
  left: 0;
  top: auto;
}